<style>
	.nama-distro {
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0px;
	}	
	.alamat-distro {
		text-align: center;
		border-bottom: 1px solid;
		line-height: 1.5;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}	
	.judul-laporan {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
	.info-laporan th, .info-laporan td {
		padding: 3px 11px 3px 0;
	}
	.info-laporan, .data-penjualan {
		vertical-align: top;
	}
	.data-penjualan {
		border-collapse: collapse;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
	.data-penjualan th, .data-penjualan td {
		padding: 7px 3px;
	}
	.data-penjualan .judul-kolom {
		text-align: center;
	}
	.nomor {
		width: 5%;
		text-align: center;
	}
	.no-penjualan {
		width: 16%;
	}
	.waktu-penjualan {
		width: 21%;
	}
	.jenis-penjualan {
		width: 8%;
	}
	.status-penjualan {
		width: 18%;
	}
	.lunas-penjualan {
		width: 14%;
	}
	.total-penjualan {
		width: 18%;
	}
</style>